[submodule "android-pdfview"]
	path = android-pdfview
	url = https://github.com/elsonLee/android-pdfview.git
[submodule "aFileChooser"]
	path = aFileChooser
	url = https://github.com/elsonLee/aFileChooser.git
