.metadata
.gradle
gradle
gradlew
gradlew.bat
build.gradle
settings.gradle
local.properties
target/
lint.xml
bin/
gen/
.settings
.project
.classpath
*.iml
.idea
out
gen-external-apklibs/
classes/
!.gitignore

